let mapleader = " "

set ignorecase
set smartcase
set incsearch
set scrolloff=10
set highlightedyank

inoremap jk <Esc>
inoremap <C-s> <Esc>l:w<CR>
nnoremap <C-s> :w<CR>
vnoremap <C-s> <Esc>:w<CR>

nnoremap D "_D
nnoremap S "_S
nnoremap c "_c
nnoremap C "_C
nnoremap s "_s
nnoremap x "_x
nnoremap X "_X
vnoremap p "_dP
nnoremap ö "
vnoremap ö "

if &ide =~? 'rider'
    nnoremap <leader>cR :action RiderRenameFile<CR>
else
    nnoremap <leader>cR :action RenameFile<CR>
endif

nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

nnoremap cd :action RenameElement<CR>

nnoremap =g :action ReformatCode<CR>
nnoremap <leader>cf :action SilentCodeCleanup<CR>
nnoremap <leader>sg :action FindSelectionInPath<CR>
vnoremap <leader>sg :action FindSelectionInPath<CR>
nnoremap <leader>sj :action RecentLocations<CR>
vnoremap <leader>sj :action RecentLocations<CR>

nmap s <Action>(flash.search)
xmap s <Action>(flash.search)
nmap f <Action>(flash.find)
xmap f <Action>(flash.find)
nmap F <Action>(flash.find_backward)
xmap F <Action>(flash.find_backward)
nmap t <Action>(flash.till)
xmap t <Action>(flash.till)
nmap T <Action>(flash.till_backward)
xmap T <Action>(flash.till_backward)
nmap ; <Action>(flash.repeat)
xmap ; <Action>(flash.repeat)
nmap , <Action>(flash.repeat_backward)
xmap , <Action>(flash.repeat_backward)

vnoremap gc :action CommentByLineComment<CR>
nnoremap gc :action CommentByLineComment<CR>
nnoremap gC :action CommentByBlockComment<CR>
vnoremap gC :action CommentByBlockComment<CR>
nnoremap g; :action JumpToLastChange<Enter>
nnoremap g, :action JumpToNextChange<Enter>

nnoremap gf :action GotoFile<CR>
vnoremap gf :action GotoFile<CR>
nnoremap g. :action ShowIntentionActions<CR>
vnoremap g. :action ShowIntentionActions<CR>
nnoremap g: :action Generate<CR>
vnoremap g: :action Generate<CR>
nnoremap gs :action FileStructurePopup<CR>
vnoremap gs :action FileStructurePopup<CR>
nnoremap ga :action SelectAllOccurrences<CR>
vnoremap ga :action SelectAllOccurrences<CR>
nnoremap gl :action SelectNextOccurrence<CR>
vnoremap gl :action SelectNextOccurrence<CR>
nnoremap gt :action NextTab<CR>
nnoremap gT :action PreviousTab<CR>
nnoremap za :action ExpandCollapseToggleAction<CR>

nnoremap <leader>aq :action ActivateAIAssistantToolWindow<CR>
vnoremap <leader>aq :action ActivateAIAssistantToolWindow<CR>
nnoremap <leader>aa :action AIAssistant.Editor.AskAiAssistantInEditor<CR>
vnoremap <leader>aa :action AIAssistant.Editor.AskAiAssistantInEditor<CR>
nnoremap <leader>ai :action AIAssistant.CodeGeneration.Actions.ShowIntentionActions<CR>
vnoremap <leader>ai :action AIAssistant.CodeGeneration.Actions.ShowIntentionActions<CR>
nnoremap <leader>ac :action com.anthropic.code.plugin.actions.OpenClaudeInTerminalAction<CR>
vnoremap <leader>ac :action com.anthropic.code.plugin.actions.OpenClaudeInTerminalAction<CR>

nnoremap <leader>bo :action CloseAllEditorsButActive<CR>
vnoremap <leader>bo :action CloseAllEditorsButActive<CR>
nnoremap <leader>bd :action CloseContent<CR>
vnoremap <leader>bd :action CloseContent<CR>
nnoremap <leader>bn :action NextProjectWindow<CR>
nnoremap <leader>bp :action PreviousProjectWindow<CR>
nnoremap <leader>ba :action CloseAllEditors<CR>
nnoremap <leader>bn :action NextProjectWindow<CR>
nnoremap <leader>bp :action PreviousProjectWindow<CR>
nnoremap gx :action HideAllWindows<CR>:action FocusEditor<CR>

nnoremap <leader>fn :action NewElement<CR>
vnoremap <leader>fn :action NewElement<CR>
nnoremap <leader>fs :action SelectIn<CR>
vnoremap <leader>fs :action SelectIn<CR>
nnoremap <leader>fr :action RecentFiles<CR>
vnoremap <leader>fr :action RecentFiles<CR>
nnoremap <leader>, :action Switcher<CR>
vnoremap <leader>, :action Switcher<CR>

nnoremap <leader>tt :action ActivateTerminalToolWindow<CR>
vnoremap <leader>tt :action ActivateTerminalToolWindow<CR>
nnoremap <leader>tu :action ActivateUnitTestsToolWindow<CR>
vnoremap <leader>tu :action ActivateUnitTestsToolWindow<CR>
nnoremap <leader>tb:action ActivateBuildToolWindow<CR>
vnoremap <leader>tb:action ActivateBuildToolWindow<CR>
nnoremap <leader>tn :action ActivateNuGetToolWindow<CR>
vnoremap <leader>tn :action ActivateNuGetToolWindow<CR>
nnoremap <leader>td :action ActivateDatabaseToolWindow<CR>
vnoremap <leader>td :action ActivateDatabaseToolWindow<CR>
nnoremap <leader>tg :action ActivateCommitToolWindow<CR>
vnoremap <leader>tg :action ActivateCommitToolWindow<CR>
nnoremap <leader>ts :action ActivateServicesToolWindow<CR>
vnoremap <leader>ts :action ActivateServicesToolWindow<CR>
nnoremap <leader>tr :action ActivateDebugToolWindow<CR>
vnoremap <leader>tr :action ActivateDebugToolWindow<CR>
nnoremap <leader>tv :action ActivateVersionControlToolWindow<CR>
vnoremap <leader>tv :action ActivateVersionControlToolWindow<CR>
nnoremap <leader>te :action ActivateTestsToolWindow<CR>
vnoremap <leader>te :action ActivateTestsToolWindow<CR>
nnoremap <leader>e :action ActivateProjectToolWindow<CR>
vnoremap <leader>e :action ActivateProjectToolWindow<CR>

nnoremap ,r :action Run<CR>
vnoremap ,r :action Run<CR>
nnoremap ,d :action Debug<CR>
vnoremap ,d :action Debug<CR>
nnoremap ,s :action Stop<CR>
vnoremap ,s :action Stop<CR>
nnoremap ,b :action ToggleLineBreakpoint<CR>
nnoremap ,n :action ActivateDebugToolWindow<CR>
nnoremap ,R :action Resume<CR>
vnoremap ,R :action Resume<CR>
nnoremap <F10> :action StepOver<CR>
nnoremap <F11> :action StepInto<CR>

nnoremap gd :action GotoDeclaration<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gr :action ShowUsages<CR>
nnoremap gR :action FindUsages<CR>
nnoremap (F :action MethodUp<CR>
nnoremap (( :action PreviousOccurence<CR>
nnoremap )) :action NextOccurence<CR>
nnoremap )F :action MethodDown<CR>
nnoremap <C-I> :action Forward<CR>
nnoremap <C-O> :action Back<CR>

nnoremap )e :action GotoNextError<CR>
nnoremap (e :action GotoPreviousError<CR>
nnoremap )E :action ReSharperGotoNextErrorInSolution<CR>
nnoremap )B :action NextTab<CR>
nnoremap (B :action PreviousTab<CR>

nnoremap g0 :action CollapseAll<CR>
nnoremap g1 :action ExpandAllToLevel1<CR>
nnoremap g2 :action ExpandAllToLevel2<CR>
nnoremap g3 :action ExpandAllToLevel3<CR>
nnoremap g4 :action ExpandAllToLevel4<CR>
nnoremap g5 :action ExpandAllToLevel5<CR>

nnoremap + :action EditorSelectWord<CR>
vnoremap + :action EditorSelectWord<CR>
nnoremap - :action EditorUnSelectWord<CR>
vnoremap - :action EditorUnSelectWord<CR>

nnoremap <leader>cp :action $Copy<CR><CR>
vnoremap <leader>cp :action $Copy<CR>
nnoremap <leader>cu :action $Cut<CR>
vnoremap <leader>cu :action $Cut<CR>
nnoremap <leader>pp :action $Paste<CR>
vnoremap <leader>pp :action $Paste<CR>
nnoremap <leader>up :action Vcs.UpdateProject<CR>
